# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Test coverage
coverage/

# Temporary files
*.tmp
*.temp